# Dependencies
node_modules/
**/node_modules/
.pnpm-store/

# Next.js / Build outputs
.next/
**/.next/
out/
**/out/
build/
**/build/
dist/
**/dist/
generated/
**/generated/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
**/.env
**/.env*.local

# Vercel
.vercel
**/.vercel

# TypeScript
*.tsbuildinfo

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
